body{
    font-weight: normal;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient( #FFD8D9 0%,#FFD8D9 40%, #E3B0B2 80%, #F4A2A4 100%);
    height: 100vh;
}
#search{   
    width: 60vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
#search-button{
    width: 50vw;
}
button{
    background-color: #FFE6E7 ;
    color:#C06165;
    display: inline-block;
    border: 1px solid #C06165;
    outline: none;
    border-radius: 5rem;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
}
button:hover {
    background-color: #C06165; 
    color:#FFE6E7;
} 
#profile{
    width: 30vw; 
    align-self: flex-end;
    margin-left: auto;
    display: flex;
    color:#C06165;
}
#shopping{
    width: 60vw;
    background-color: #FFE6E7;
    height: min-content;
    margin: 20px;
    padding: 30px;
    border-radius: 2rem  2rem  0 0;
}
#top{
    display: flex;
    align-items: center;
    justify-content: center;
}
#avatar{
    display: flex;
    flex-direction: row;
}
#xx{
    margin: 20px;
    padding: 30px;
    width: 40vw;
    border-radius: 2rem  2rem  2rem  2rem;
    background-color: #FFD8D9 ;
    border: 1.5px solid #C06165;
    /*add 3d model canvasHeight, canvasWidth*/
    height: 300+550px;
    width: 300+600px;
    
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* add 4-5 'each-section' using javascript */
#each-section{
    display: flex;
    flex-direction: column;
}
h1, h2{
    color:#C06165;
    text-align: center;
}
#cont{
    display: flex;
    flex-direction: row;
}
.item-subtract, .item-add, .item-advertisement{
    width: 40%;
    background-color: #FFE6E7;
    margin: 20px;

    color:black;
    display: inline-block;
    border: 1px solid #C06165;
    border-radius: 0.25rem;
    font-size: 12px;
    line-height: 16px;
    padding: 0 12px;
}
#bar{
    position: sticky;
    top: 20px;
    
}
.slidecontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#container3D{

}
canvas{
    position: relative;

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #xx{
        order: 1;
        width: 100%;
    }
    #shopping{
        order: 2;
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    #cont{
        display: flex;
        flex-direction: column;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}